<section class="hero is-fullheight is-default is-bold">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <img src="../assets/u21-logo.png" alt="Logo" />
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="tabs is-right">
              <ul>
                <li class="is-active"><a>Primer contacto</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <!--Content-->
  <router-outlet></router-outlet>
  <!--Content-->
  <div class="hero-foot">
    <div class="container">
      <div class="tabs is-centered">
        <ul>
          <li><a>Hecho por la U21 de Venezuela</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
